@font-face {
  font-family: between-days;
  src: url("./assets/fonts/between-days-font/Betweendaysdemo-MVElY.otf");
}

@font-face {
  font-family: lyon;
  src: url("./assets/fonts/LyonText-RegularItalic-Web.woff2");
}

@font-face {
  font-family: airbnb;
  src: url("./assets/fonts/airbnb.woff2");
}

@font-face {
  font-family: bark;
  src: url("./assets/fonts/bark.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  background-color: #f7f5ff;
}
